# Store node_modules in each workspace
shared-workspace-shrinkwrap=false

# Concurrent installations per workspace
workspace-concurrency=1

shared-workspace-lockfile=false
node-linker=hoisted
shamefully-hoist=true
